/* Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: rgba(46, 125, 50, 0.05);
  backdrop-filter: blur(2px);
}

.sidebar-logo {
  width: 75%;
  object-fit: contain;
}

/* Sidebar Link Styles */
/* .sidebar-container {
  height: 5vh;
  width: 12vw;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0 0.75rem;
}
.sidebar-container:hover {
  background-color: #008080;
}
.sidebar-container:hover .sidebar-link,
.sidebar-container:hover .icon {
  color: #fff;
} */

.sidebar-link .icon {
  width: 2rem;
  height: 2rem;
}

/* Nav Link Container Styles */
.sidebar-link {
  display: flex;
  width: 12vw;
  height: 5vh;
  /* background-color: black; */
  align-items: center;
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.sidebar-link:hover {
  color: white;
  background-color: #008080;
}
.sidebar-link__logout {
  border: 2px solid #f44336;
  color: #f44336;
}

.sidebar-link__logout:hover {
  background-color: #f44336;
}
