/* Sidebar Styles */
.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
  align-items: center;
  width: 17.5vw;
  height: 100vh;
  background-color: rgba(46, 125, 50, 0.08);
  backdrop-filter: blur(3px);
  position: fixed;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-logo {
  width: 75%;
  object-fit: contain;
}

.sidebar-link .icon {
  width: 2rem;
  height: 2rem;
}

/* Nav Link Container Styles */
.sidebar-link {
  display: flex;
  width: 12vw;
  height: 5vh;
  align-items: center;
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

.sidebar-link:hover,
.active {
  color: white;
  background-color: #008080;
}
.sidebar-link__logout {
  border: 2px solid #f44336;
  color: #f44336;
}

.sidebar-link__logout:hover {
  background-color: #f44336;
}
